@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital@0;1&family=Montserrat&family=Ms+Madi&family=Mystery+Quest&family=Titan+One&display=swap');

.bookCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
}