.card{
    width: 20vw;
    height: 45vh;
    margin: 1vw;
    background-color: rgb(237, 225, 206);
    padding: 1.4vw;
    text-align: center;
    box-shadow: 1px 1px 2px rgb(236, 234, 234), 0 0 25px rgb(255, 111, 0), 0px 0px 5px rgb(189, 62, 16);
    overflow: hidden;
}
.card img {
    border-radius: 5px;
    height: 25vh;
    width: 20vw;
}
h2 {
    color: orangered;
    font-size: 3.3vh;
}
h3 {
    color: black;
    font-size: 2.5vh;
}