.search {
    background-color: darkgreen;
    color: aliceblue;
    text-align: center;
}
.input {
    text-align: center;
    margin-top: 1rem;
}
input,label {
    font-family: inherit;
    font-size: 2rem;
}
input {
    padding: 1rem;
    margin-right: 2rem;
    border-radius: .4rem;
    width: 550px;
    box-shadow: 10px 10px 5px rgb(196, 155, 141);
}
input:hover{
    border: none;
    box-shadow: 1px 1px 2px rgb(236, 234, 234), 0 0 25px rgb(255, 0, 98), 5px 5px 5px rgb(139, 0, 19)
}
label {
    color: rgb(238, 238, 238);
    font-size: 2.8rem;
    text-shadow: 1px 1px 2px rgb(242, 239, 239), 5px 5px 25px rgb(239, 36, 9), 5px 5px 5px rgb(195, 26, 7);
}