.title{
    background-color: chocolate;
    color: aliceblue;
    text-align: center;
}
h1,h3{
    font-family: inherit;
    text-align: center;
    font-size: 2rem;
    color: rgb(228, 66, 26);
    text-shadow: 1px 1px 2px rgb(242, 239, 239), 5px 5px 25px rgb(184, 184, 183), 5px 5px 5px rgb(226, 231, 221);
}
span {
    font-size: 2rem;
    color: rgb(237, 230, 228);
    text-shadow: 1px 1px 2px rgb(242, 239, 239), 5px 5px 25px rgb(239, 74, 9), 5px 5px 5px rgb(195, 54, 7);
}